[submodule "bzip2/src"]
	path = bzip2/src
	url = https://gitlab.com/bzip2/bzip2.git
[submodule "xz/src"]
	path = xz/src
	url = https://github.com/tukaani-project/xz.git
[submodule "libffi/src"]
	path = libffi/src
	url = https://github.com/ElectronSpark/v6-libffi.git
[submodule "sqlite/src"]
	path = sqlite/src
	url = https://github.com/ElectronSpark/v6-sqlite.git
[submodule "ncurses/src"]
	path = ncurses/src
	url = https://github.com/mirror/ncurses.git
[submodule "readline/src"]
	path = readline/src
	url = https://git.savannah.gnu.org/git/readline.git
[submodule "openssl/src"]
	path = openssl/src
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.0
[submodule "cpython/src"]
	path = cpython/src
	url = https://github.com/ElectronSpark/v6-cpython.git
	branch = v6-3.12
[submodule "vim/src"]
	path = vim/src
	url = https://github.com/ElectronSpark/vim.git
[submodule "libpng/src"]
	path = libpng/src
	url = https://github.com/pnggroup/libpng.git
[submodule "libjpeg-turbo/src"]
	path = libjpeg-turbo/src
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "libexpat/src"]
	path = libexpat/src
	url = https://github.com/libexpat/libexpat.git
[submodule "libxml2/src"]
	path = libxml2/src
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "freetype/src"]
	path = freetype/src
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "curl/src"]
	path = curl/src
	url = https://github.com/curl/curl.git
[submodule "pcre2/src"]
	path = pcre2/src
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "pixman/src"]
	path = pixman/src
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "fribidi/src"]
	path = fribidi/src
	url = https://github.com/fribidi/fribidi.git
[submodule "harfbuzz/src"]
	path = harfbuzz/src
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "fontconfig/src"]
	path = fontconfig/src
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "cairo/src"]
	path = cairo/src
	url = https://gitlab.freedesktop.org/cairo/cairo.git
